<div class="jumbotron center">
  <h1>Welcome to my test `RAILS` app</h1>
  <h3>his is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</h3>
  
    <%= link_to "Sing up now!", chefs_new_path, class: "btn btn-success btn-lg"%>
 
</div>
 <div class="container center">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 main">
          <h2>Heading</h2>
          <p>مشاهده ی دستور ها به صورت بازدید کننده میزبان  . بر روی لینک کلیک کنید .. </p>
         <%= link_to raw("View details  &raquo;"), recipes_path , class: "btn btn-warning"%>
          
        </div>
        <div class="col-md-4 main">
          <h2>Heading</h2>
          <p>وارد شوید , بررسی کنید ,  امتیاز بدهید , و خیلی  خیلی چیزهای دیگه</p>
        <%= link_to raw("Log in  &raquo;"), login_path , class: "btn btn-warning"%>       </div>
        <div class="col-md-4 main">
          <h2>Heading</h2>
          <p>وارد شوید , بررسی کنید ,  امتیاز بدهید , و خیلی  خیلی چیزهای دیگه</p>
          <p><a class="btn btn-warning" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
