$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    margin-top:10px;
    text-transform :upercase;
    letter-spacing:-1px;
    color:#ff;
    font-weight: bold;
    float:left;
}
#logo:hover{
    color:#999;
}
body{
    padding-top:70px;
}
.nav_item{
    float:left;
    padding-left:15px;
    padding-top:15px;
}
.center{
    text-align:center;
}
h1,h2,h3{
    line-height:1;
    text-align:center;
    color:#999;
}
h3{
    line-height:1;
}
h4{
    line-height:1;
}
.navbar{
    height:70px;
}
h1{
    font-size:3em;
    letter-spacing:-2px;
    margin-bottom:25px;
}
h3{
    margin-bottom:25px;
}
footer{
    font-size:10px;
}
.gravatar{
    border-radius:10px;
}
.chef-info{
    margin-top:10px;
}
input, textarea , .uneditform{
    margin-top:10px;
    border:1px solid #ededed;
    width:100%;
    border-radius:4px;
}
.main p{
    font-size:1.3em;
}
.picture{
    margin:10px;
    input{
        border:0px;
    }
}
